*.pc
Makefile
Makefile.in
Xfuncproto.h
Xpoll.h
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
do-not-use-config.h
do-not-use-config.h.in
install-sh
man/Xprint.7
missing
stamp-h1
stamp-h2
