[submodule "termux-display/src/main/cpp/libtirpc"]
	path = termux-display/src/main/cpp/libtirpc
	url = https://github.com/alisw/libtirpc
	ignore = dirty
[submodule "termux-display/src/main/cpp/pixman"]
	path = termux-display/src/main/cpp/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
	ignore = dirty
[submodule "termux-display/src/main/cpp/libfontenc"]
	path = termux-display/src/main/cpp/libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxau"]
	path = termux-display/src/main/cpp/libxau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxdmcp"]
	path = termux-display/src/main/cpp/libxdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxfont"]
	path = termux-display/src/main/cpp/libxfont
	url = https://gitlab.freedesktop.org/xorg/lib/libxfont
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxkbfile"]
	path = termux-display/src/main/cpp/libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxshmfence"]
	path = termux-display/src/main/cpp/libxshmfence
	url = https://gitlab.freedesktop.org/xorg/lib/libxshmfence
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxtrans"]
	path = termux-display/src/main/cpp/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans
	ignore = dirty
[submodule "termux-display/src/main/cpp/libepoxy"]
	path = termux-display/src/main/cpp/libepoxy
	url = https://github.com/anholt/libepoxy
	ignore = dirty
[submodule "termux-display/src/main/cpp/libxcvt"]
	path = termux-display/src/main/cpp/libxcvt
	url = https://gitlab.freedesktop.org/xorg/lib/libxcvt
	ignore = dirty
[submodule "termux-display/src/main/cpp/libx11"]
	path = termux-display/src/main/cpp/libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11
	ignore = dirty
[submodule "termux-display/src/main/cpp/xorgproto"]
	path = termux-display/src/main/cpp/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto
	ignore = dirty
[submodule "termux-display/src/main/cpp/xkbcomp"]
	path = termux-display/src/main/cpp/xkbcomp
	url = https://gitlab.freedesktop.org/xorg/app/xkbcomp
	ignore = dirty
[submodule "termux-display/src/main/cpp/xserver"]
	path = termux-display/src/main/cpp/xserver
	url = https://gitlab.freedesktop.org/xorg/xserver
	ignore = dirty
[submodule "termux-display/src/main/cpp/bzip2"]
	path = termux-display/src/main/cpp/bzip2
	url = https://gitlab.com/bzip2/bzip2
[submodule "termux-display/src/main/cpp/OpenXR-SDK"]
	path = termux-display/src/main/cpp/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
