modules = ["java-graalvm22.3", "cpp-clang14", "c-clang14", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android Build"

[[workflows.workflow]]
name = "Android Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug"

[workflows.workflow.metadata]
outputType = "console"
