#!/bin/bash

# Websites
alias router="tel-open -u http://192.168.1.1" # example router address
alias tel-wiki="tel-open -u https://https://github.com/t-e-l/tel/wiki/FAQ"


# SHELL
alias lst='ls -R | grep ":$" | sed -e '"'"'s/:$//'"'"' -e '"'"'s/[^-][^\/]*\//--/g'"'"' -e '"'"'s/^/ /'"'"' -e '"'"'s/-/|/'"'"''
alias pg='ping -c 5 8.8.8.8' # quick check if online

# Device specific
alias x='exit'
alias w='tel-wifi'
alias wifi='tel-wifi'
alias bright='termux-brightness'
alias torch='termux-torch'
alias ton='termux-torch on && echo "Torch Enabled"'
alias tof='termux-torch off && echo "Torch Disabled"'

# root users
alias app-uninstall='su -c pm uninstall'
alias htop='su -c htop'
alias dmesg='su -c dmesg'

# DEMO
alias weather="curl v2.wttr.in/$LOCATION"
alias tron="ssh sshtron.zachlatta.com"
alias starwars="telnet towel.blinkenlights.nl"
alias matrix="cmatrix"
alias tel-fetch="neofetch --source ~/.tel/data/asciiart.txt"
alias crossword='cursewords'

# APPS
alias cam="app camera"
alias cl="app clock"
alias t="app telegram"
alias vpn="app vpn"
alias vnc="app vnc"
alias sig="app signal"
alias tur="app turbo"
alias fdroid="app fdroid"


