# TEL shortened
alias r="tel-restart"
alias x="tel-exit"
alias s="tel-search"
alias search="tel-search"
alias todo="tel-todo"
alias notifs="tel-notifications"
alias help="tel-help"
alias tutorial="tel-tutorial"

# APPS
alias a="app"
alias p="app phone"
alias m="app messages"
alias c="app camera"
alias cl="app clock"
alias g="app gallery"
alias fm="app amaze"
alias t="app telegram"
alias f="app firefox"
alias y="app youtube"
alias vpn="app openvnc"
alias v="app vnc"
alias b="app browser"
alias si="app signal"
alias tur="app turbo"
alias fdroid="app fdroid"

# DEMO
alias starwars="telnet towel.blinkenlights.nl"
alias matrix="cmatrix"
alias tel-fetch="neofetch --source ~/.tel/data/asciiart.txt"
