Makefile
Makefile.in
.deps
.libs
.msg
*.pc
*.lo
*.la
*.a
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?
config.h
config.h.in
.*.swp
demos/*-test
demos/checkerboard
demos/clip-in
demos/linear-gradient
demos/quad2quad
demos/scale
demos/dither
pixman/pixman-srgb.c
pixman/pixman-version.h
test/*-test
test/affine-bench
test/alpha-loop
test/alphamap
test/check-formats
test/clip-in
test/composite
test/infinite-loop
test/lowlevel-blt-bench
test/radial-invalid
test/region-translate
test/scaling-bench
test/trap-crasher
*.pdb
*.dll
*.lib
*.ilk
*.obj
*.exe
