<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.termux"
    android:installLocation="internalOnly"
    android:sharedUserId="com.termux"
    android:sharedUserLabel="@string/shared_user_label" >

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/banner"
        android:label="@string/application_name"
        android:theme="@style/Theme.Termux"
        android:supportsRtl="false" >

        <!-- This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8
             mark the app with "This app is optimized to run in full screen." -->
        <meta-data android:name="android.max_aspect" android:value="10.0" />

        <activity
            android:name="com.termux.app.TermuxActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.termux.app.TermuxHelpActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:parentActivityName=".app.TermuxActivity"
            android:resizeableActivity="true"
            android:label="@string/application_name" />

        <activity
            android:name="com.termux.filepicker.TermuxFileReceiverActivity"
            android:label="@string/application_name"
            android:taskAffinity="com.termux.filereceiver"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:noHistory="true">
            <!-- Accept multiple file types when sending. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- Be more restrictive for viewing files, restricting ourselves to text files. -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/*xml*" />
                <data android:mimeType="application/*latex*" />
                <data android:mimeType="application/javascript" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".HomeActivity"
            android:targetActivity="com.termux.app.TermuxActivity">

            <!-- Launch activity automatically on boot on Android Things devices -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.IOT_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".filepicker.TermuxDocumentsProvider"
            android:authorities="com.termux.documents"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name="com.termux.app.TermuxService"
            android:exported="false" />

        <receiver android:name=".app.TermuxOpenReceiver" />

        <provider android:authorities="com.termux.files"
                  android:readPermission="android.permission.permRead"
                  android:exported="true"
                  android:grantUriPermissions="true"
                  android:name="com.termux.app.TermuxOpenReceiver$ContentProvider" />

        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
    </application>

</manifest>
