<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.termux"
    android:installLocation="internalOnly"
    android:sharedUserId="com.termux"
    android:sharedUserLabel="@string/shared_user_label" >

	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@drawable/ic_launcher"
        android:banner="@drawable/banner"
        android:label="@string/application_name"
        android:theme="@style/Theme.Termux"
        android:supportsRtl="false" >

        <activity
            android:name="com.termux.app.TermuxActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		    <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
		    </intent-filter>
        </activity>

        <activity
            android:name="com.termux.app.TermuxHelpActivity"
            android:exported="false"
            android:label="@string/application_help" />

        <activity
            android:name="com.termux.filepicker.TermuxFilePickerActivity"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:noHistory="true">
            <intent-filter>
                <!--
                  http://stackoverflow.com/questions/6486716/using-intent-action-pick-for-specific-path
                  "That said, you should consider ACTION_PICK deprecated. The modern action is ACTION_GET_CONTENT
                  which is much better supported; you will find support of ACTION_PICK spotty and inconsistent.
                  Unfortunately ACTION_GET_CONTENT also does not let you specify a directory."
                -->
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider android:authorities="com.termux.filepicker.provider"
            android:readPermission="com.termux.filepickder.READ"
            android:exported="true"
            android:grantUriPermissions="true"
            android:name="com.termux.filepicker.TermuxFilePickerProvider" />

        <service
            android:name="com.termux.app.TermuxService"
            android:exported="false" />

    </application>

</manifest>
