<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LprojCompatibleVersion</key>
	<string>106.3</string>
	<key>LprojLocale</key>
	<string>it</string>
	<key>LprojRevisionLevel</key>
	<string>1</string>
	<key>LprojVersion</key>
	<string>106.3</string>
</dict>
</plist>
