aclocal.m4
autom4te.cache
config.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
freetype2.pc
freetype-config
ftconfig.h
ftoption.h
install-sh
libtool
ltmain.sh
unix-cc.mk
unix-def.mk
