# This is a basic workflow to help you get started with Actions

name: Auto Build Termux App

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      

      # Runs a single command using the runners shell
      - name: Clone repository
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Build
        run: |
          ./gradlew assembleDebug
          remote_version=$(cat app/build.gradle |grep "versionName \"" |awk -F "\"" '{print $2}')
      - name: Store generated APK file
        uses: actions/upload-artifact@v1
        with:
          name: Termux_app_${remote_version}.apk
          path: ./app/build/outputs/apk/debug/app-debug.apk
